@media (max-width: 1200px){
  .contacts__container{
    max-width: 960px;
  }
  .contacts{
    &__wrapper{
      padding: 0;
      grid-template-columns: 420px 510px;
    }
    &__form{
      grid-template: 45px 190px 45px / repeat(2, 250px);
    }
  }
}

@media (max-width: 992px){
  .contacts__container{
    max-width: 720px;
  }
  .contacts{
    &__wrapper{
      grid-template-columns: 350px 380px;
    }
    &__form{
      grid-template: 45px 115px 45px / repeat(2, 185px);
      row-gap: 15px;
    }
    &__text, &__social{
      margin-top: 20px;
    }
    &__btn{
      padding: 8px 25px;
      line-height: 17px;
    }
  }
}

@media (max-width: 768px){
  .contacts__container{
    max-width: 540px;
  }
  .carousel__inner {
    height: 450px;
  }
  .feed-form{
    grid-template: repeat(2, 50px) / repeat(2, 1fr);
  }
  .contacts{
    padding: 40px 0;
    &__photo{
      display: none;
    }
    &__wrapper{
      grid-template-columns: 1fr;
    }
    &__form{
      grid-template: 45px 190px 45px / repeat(2, 250px);
    }
  }
}

@media (max-width: 550px){
  .modal__close{
    top: 7px;
    right: 0;
  }
  .carousel__inner {
    height: 330px;
  }
  .feed-form{
    grid-template: repeat(2, 50px) / repeat(1, 1fr);
  }
  .title__policy{
    font-size: 22px;
    line-height: 34px;
  }
  .contacts{
    &__form{
      grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
    }
    &__textarea {
      grid-column: unset;
      width: 100%;
    }
    &__triggers {
      grid-column: unset;
      grid-template-columns: 1fr;
      column-gap: unset;
      row-gap: 20px;
    }
    &__btn {
      order: 2;
      max-width: 220px;
      margin: 0 auto;
    }
    &__policy {
      width: 180px;
      margin: 0 auto;
      line-height: 18px;
    }
    &__btn{
      padding: 15px 25px;
    }
  }
  .title_fz21{
    font-size: 18px;
  }

}
@media (max-width: 425px){
  .promo__title{
    font-size: 45px;
    line-height: 52px;
  }
  .carousel{
    padding: 40px 0;
  }
  .button_main{
    display: block;
    width: 290px;
    margin: 0 auto;
  }
  .modal{
    width: 290px;
    padding: 20px;
  }
  .pageup{
    right: 30px;
  }
}