@media (max-width: 768px){
  .feed-form{
    grid-template: repeat(2, 50px) / repeat(2, 1fr);
  }
}

@media (max-width: 550px){
  .modal__close{
    top: 7px;
    right: 0;
  }
  .feed-form{
    grid-template: repeat(2, 50px) / repeat(1, 1fr);
  }
  .title__policy{
    font-size: 22px;
    line-height: 34px;
  }

}
@media (max-width: 425px){
  .promo__title{
    font-size: 45px;
    line-height: 52px;
  }
  .button_main{
    display: block;
    width: 290px;
    margin: 0 auto;
  }
  .modal{
    width: 290px;
    padding: 20px;
  }
  .pageup{
    right: 30px;
  }
}