.news{
  padding: 30px 0;
  &__title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  &__subtitle{
    font-size: 22px;
    line-height: 40px;
    padding-bottom: 15px;
  }
  &__text{
    text-align: justify;
    a{
      color: #000;
    }
  }
  &__news{
    height: 630px;
    width: 100%;
  }
}
.map{
  overflow: hidden;
  max-width: 1170px;
  height: 500px;
}