.promo{
  min-height: 100vh;
  position: relative;
  background: url('../img/bg.jpg') no-repeat 50%/cover;
  &__wrapper{
    padding-top: 205px;
    text-align: right;
  }
  &__title{
    font-size: 56px;
    line-height: 70px;
    color: #fff;
  }
  &__descr{
    font-size: 20px;
    margin-top: 15px;
    color: #fff;
  }
}
