.title{
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 20px;
  &_fz14{
    font-size: 14px;
    line-height: 20px;
  }
  &_fz21{
    font-size: 21px;
    line-height: 27px;
  }
  &__policy{
    margin-top: 30px;
  }
}